In [2]:
import pandas as pd

pd.read_parquet('2022-10-19.parquet').head(5)

,time,open,high,low,close,volume,name,date
1,2022-10-19 09:30:00,41.630001068115234,41.709999084472656,41.54999923706055,41.709999084472656,326801.0,CSCO,2022-10-19
2,2022-10-19 09:31:00,41.709999084472656,41.779998779296875,41.66999816894531,41.77000045776367,54830.0,CSCO,2022-10-19
3,2022-10-19 09:32:00,41.7599983215332,41.83000183105469,41.7599983215332,41.79499816894531,41168.0,CSCO,2022-10-19
4,2022-10-19 09:33:00,41.79999923706055,41.88999938964844,41.79999923706055,41.869998931884766,23924.0,CSCO,2022-10-19
5,2022-10-19 09:34:00,41.93000030517578,41.935001373291016,41.921600341796875,41.921600341796875,49410.0,CSCO,2022-10-19

In the dataframe above only 1 ticker is displayed, but it actually contains price data of all the 500 S&P index stocks in that day on a minute level resolution.

In [ ]:
pd.read_parquet('2022-10-19.parquet').shape